#root{
    background-color: rgba(207, 207, 16, 0.877);
    padding: 0px;
    margin: 0px;
}
#home{
    margin: 0px;
    padding: 0px;
}
.active{
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.5s ease-in-out;
    
}
.active:hover{
    box-shadow: 0 0 10px yellow;
    background-color: rgb(194, 194, 15);
    color: black;
    padding: 5px;
    border-radius: 10px;
}
.navbar{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: black;
    padding: 0px;
    margin: 0px;

}
#home h1{ 
    animation: light 5s infinite;

}

@keyframes light {
    0% {
        text-shadow: 0 0  5px red;
    }
    50% {
        text-shadow: 0 0 15px red;
    }
    100% {
        text-shadow: 0 0  5px red;
    }
}

#about{
    height: 100vh;
    text-align: center;
    background-color: rgb(238, 236, 236);
}
#about h2{
    font-size: 40px;
    margin-top: 0px;
    padding-top: 20px;
    color: black;
    text-shadow: 0 0 5px yellow;
    letter-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#about p{
    font-size: 20px;
    margin-top: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 25px;
    
}
#about span{
    color: red;
    font-weight: 600;
}

.comp img {
    width: 200px;
    height: 150px;
    mix-blend-mode: multiply;
    position: absolute;
    left: 40%;
}
.player img {
    width: 200px;
    height: 150px;
    mix-blend-mode: multiply;
    position: absolute;
    left: 40%;
    top: 82%;
    transform: rotate(180deg);
}
#players-deck {
    width: 130px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    position: absolute;
    top: 83%;
    left: 42%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#comp-deck {
    width: 130px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    position: absolute;
    top: 5%;
    left: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}


#community-cards {
    width: 400px;
    height: 70px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    position: absolute;
    top: 43%;
    left: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.chips img{
    width: 60px;
    position: absolute;

} 
.chips p{
    background-color: rgb(180, 172, 172);
    position: absolute;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

}

#explanation{
    width: 30%;
}

#cards{
    height: 60px;
    width: 45px;
    border-radius: 8px;
    box-shadow: 0 0 5px black;
}

#cards img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

#explanation h2{
    text-align: center;
    color: green;
}

.one{
    width: 60px;
    position: absolute;
    top: 45%;
    left: 70%;
}

.two{
    width: 60px;
    position: absolute;
    top: 45%;
    left: 75%;
}

.pot p{
    background-color: rgb(180, 172, 172);
    position: absolute;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    top: 35%;
    left: 72%;
}


.step{
    background-color: rgb(238, 236, 236);
    height: 100vh;
    text-align: center;
    
}

.step h2{
    padding-top: 5px;
    color: black;
    text-shadow: 0 0 5px yellow;
    letter-spacing: 3px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.step p{
    font-size: 20px;
}

.step span{
    font-weight: 600;
}